[Desktop Entry]
Name=Darkstar Forge
Comment=Web launcher for Darkstar Forge
Exec=ABRIR-DARKSTAR-FORGE
Path=/home/djabo/Downloads/Darkstar Forge/
Terminal=false
Type=Application
Categories=Graphics;
