[Desktop Entry]
Name=Darkstar Forge
Comment=Editor de cartas do Darkstar
Exec=bash "/home/djabo/Downloads/Darkstar Forge/Darkstar Forge"
Icon=/home/djabo/Downloads/Darkstar Forge/public/brand/logo.png
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=true
StartupWMClass=Darkstar Forge
